/nbproject/
/tests/
.env
/vendor/
/node_modules/
/.idea

/setup/sso/simplesamlphp/vendor/
yarn-error.log

html/astnext

.DS_Store
public/
/html/phpMyAdmin/
access.log
error.log
.idea/
/settings.json
/composer.lock
node_modules
Update
.history
.vscode
.fleet
phpunit.xml
.phpunit.result.cache